:root {
  --color-primary: #3b82f6;
  /* blue-500 */
  --color-primary-dark: #2563eb;
  /* blue-600 */
  --color-secondary: #6b7280;
  /* gray-500 */
  --color-danger: #ef4444;
  /* red-500 */
  --color-success: #10b981;
  /* green-500 */
  --color-info: #0ea5e9;
  /* sky-500 */
}

.dark {
  --color-primary: #2563eb;
  --color-primary-dark: #1d4ed8;
  --color-secondary: #9ca3af;
  --color-danger: #f87171;
  --color-success: #34d399;
  --color-info: #38bdf8;
}